<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="file">

	
	<insert id="insert" parameterType="FileDTO">
		insert file(file_path, file_system_name, file_original_name, goods_num)
		values(#{filePath}, #{fileSystemName}, #{fileOriginalName}, #{goodsNum})
	</insert>
  
<select id="getSequence" resultType="_int">
		select LAST_INSERT_ID()
</select>


	<insert id="insertDetailImage" parameterType="GoodsDetailImageDTO">
	
		insert into goods_detail_image(goods_detail_image_path, goods_detail_image_original_name, goods_detail_image_system_name, goods_num)
		values (#{goodsDetailImagePath}, #{goodsDetailImageOriginalName}, #{goodsDetailImageSystemName}, #{goodsNum})
	</insert>
  

</mapper>