@charset "UTF-8";


.header-main-container {
	min-height : 70vh
}
.main{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.pwfind-container {
    background-color:rgb(255, 255, 255);
    width: 1024px;
    height: 100%;
}

.pwfind-area {
    width: 400px;
    height: auto;
    margin: 0 auto;
}

.pwfind-greeting {
    padding-top: 100px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
}

.txt {
			 font-family: 'KIMM_Bold';
	
	font-size:17px
}
.txt2 {
			 font-family: 'KIMM_Bold';
	font-size:15px;
	color : gray
	
}
.input-group {
	height:160px
}
.input-text input{
	padding-left:10px;
	box-sizing:border-box;
    width : 400px;
    height: 35px;
    margin-bottom: 10px;
}

.checkInfo {
	font-family: 'KIMM_Bold';
	color:#CA2E2E;
	font-size:12px
}

.button-submit button{
    font-family: 'KIMM_Bold';
    width: 100%;
    height: 32px;
    margin-top: 15px;
    background-color: #CA2E2E;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: white;
    letter-spacing: 6px;
}

.login-back button{
    font-family: 'KIMM_Bold';
    width: 100%;
    height: 32px;
    background-color: white;
    border: 0px solid white;
    font-weight: 700;
    cursor: pointer;
}

h2 {
    margin-top: 50px;
    margin-bottom: 40px;  
    text-align: center;
}





