@charset "UTF-8";


.header-main-container {
	min-height:70vh
}
.main {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
}

.signup-container {
	width: 1024px;
	height: 700px;
	background-color: rgb(255, 255, 255);
}

.signup-area {
	width: 400px;
	height: auto;
	margin: 0 auto;
}

.signup-greeting {
	padding-top: 100px;
	font-size: 32px;
	color: #000;
	font-weight: 500;
	margin-bottom: 30px;
}
.txt {
	font-size: 17px;
	font-family: 'GmarketSansMedium';
}

.logoTitle {
	font-size: 23px;
	color: rgb(202, 46, 46);
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-family: 'Single Day', cursive;
}

.input-group {
	height: 100px;
	display: table;
	border-collapse: collapse;
}

.input-text {
	position: relative;
	height: 450px
}

.input-text input {
	box-sizing: border-box;
	padding-left: 10px;
	width: 400px;
	height: 40px;
	margin-bottom: 23px;
}

.input-text span {
	font-size: 11px;
	margin-top: 0px;
}
.button-signup {
	width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
	
}
.button-signup button {
	border-radius:8px;
	width: 150px;
	height: 33px;
	cursor: pointer;
	font-weight: 700;
	border: 0px;
	color: white;
	background-color:rgb(202, 46, 46);
	font-family: 'KIMM_Bold';
	
}

.email input {
	width: 128px;
}

.email select {
	padding: 15px;
	width: 130px;
	vertical-align: middle
}

#PostCodeSearch {
	background-color:white;    
	color: black;
	border-radius:5px;
    border: 1px solid gray;
    padding: 10px 20px;
    width: 110px;
    height: 40px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 51px;
    font-family: 'KIMM_Bold';
    letter-spacing:2px
}

#address {
	margin-bottom:5px;
	width:400px
}
#address_detail {
	width:285px
}

.infoLabel, .labelPwNo {
	font-weight:bold;
	display: none;
	position: absolute;
	left: 5px;
	font-size: 11px;
	font-family: 'KIMM_Bold';
	color: #CA2E2E;
}

.labelPwNo {
	bottom: 267px;
}

.infoLabel {
	bottom: 205px;
}


.checkPhone-result, .checkPhone-result-unavailable {
	position: absolute;
	left: 5px;
	font-family: 'KIMM_Bold';
	bottom: 143px;
	font-size: 11px;
		font-weight:bold;
	
}
.checkPhone-result{
		color: #0080ff;
	
}
.checkPhone-result-unavailable{
		color: #CA2E2E;
	
}
.phone_alreday {
position: absolute;
    bottom: 142px;
    font-family: 'KIMM_Bold';
    color: #CA2E2E;
    font-size: 11px;
    right: 0;
}

.PwChOk {
		font-weight:bold;
	
	display: none;
	position: absolute;
	left: 5px;
	bottom: 267px;
	font-size: 11px;
	font-family: 'KIMM_Bold';
	color: #0080ff;
}

.id_available {
	color: #0080ff !important;
 
}

.id_already, .checkEmail-result, .id_available {
		font-weight:bold;
	
	font-family: 'KIMM_Bold';
	color: #CA2E2E;
	top: 45px;
	position: absolute;
	left: 5px;
	display: none;
	font-size: 16px;
}